<div>
  <div class="topnav">
      
    </div>
    
    
  <section id="main">
      <div class="fancy-monk">
        <h1 class="fancy-txt">Fancy-work</h1> 
        <div>
           <!-- <div class="signinup">
               <div>Not a member yet?</div>
               <div>Sign up now</div>
               <div>
                   <input type="button" value="signin" class="btn btn-danger">
                   <input type="button" value="signup" class="btn btn-danger">
               </div>
           </div>  -->
        </div>
      </div>
    </section>
    </div>