/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{font-family: 'Quicksand', sans-serif !important;}

::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
